{% extends('base.html') %}
{% block content %}
<div class="container">
    <h1>Convertisseur décimal, hexadécimal, binaire</h1>
    <div class="row justify-content-md-center">
        {% if not current_user.is_authenticated %}
            <p>Vous devez être connecté pour utiliser le convertisseur.</p>
            <hr>
            <div class="row pt-3">
                <small class="col text-center">Vous n'avez pas de compte ? <a href="{{ url_for('register') }}">S'inscrire</a></small>
                <small class="col text-center">Vous avez déjà un compte ? <a href="{{ url_for('login') }}">Se connecter</a></small>
            </div>
        {% else %}
            <p>Bienvenue {{ current_user.email}}. <a href="{{ url_for('account') }}">Votre compte</a> </p>
        {% endif %}
    </div>

</div>
{% endblock %}